@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1 {	
	color: #6D93BF;
	font-family: 'Manrope', sans-serif;
	padding-top: 30px;
	text-transform: uppercase;
}

h2 {
	color: #496280;
	font-family: 'Manrope', sans-serif;
}

h3, h4, h5, h6 {
	font-family: 'Manrope', sans-serif;
	color: #3C4A60;
}

p, li {
	font-family: 'Montserrat', sans-serif;
	color: #253241;
	font-size: 1.2rem;
	text-align: justify;
}

.main {
         width: 85%;
         margin-left: 7.5%;
}

footer {
	 background: #97ADCC;
}

.row {
	margin-top: 20px;
	margin-bottom: 20px;
}

.left-line {
	margin-left: 5px;
	padding-left: 17px;
	border-left: 9px solid #496280;
}
